$primary : #FF005C;
$primary-complementary: #9C589C;
$secondary : #3A294F;
$accent : #220D32;

$dark : #B79BC1;

$gray: #7F7288;

$positive : #0AF9B1;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;