$primary : #FF005C;
$primary-complementary: #9C589C;
$secondary: #14142E;
$accent : #220D32;

$dark : $secondary;

$gray: #7F7288;

$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;

$typography-font-family: Circular Std, 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default